# Lab | Data Cleaning and Formatting

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

# Challenge 1: Data Cleaning and Formatting

## Exercise 1: Cleaning Column Names

To ensure consistency and ease of use, standardize the column names of the dataframe. Start by taking a first look at the dataframe and identifying any column names that need to be modified. Use appropriate naming conventions and make sure that column names are descriptive and informative.

*Hint*:
- *Column names should be in lower case*
- *White spaces in column names should be replaced by `_`*
- *`st` could be replaced for `state`*

In [1]:
import pandas as pd
import numpy as np

In [2]:
insurance_df = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv")

In [3]:
# Your code here
insurance_df.columns = pd.Series(insurance_df.columns).apply(lambda col: col.lower())
insurance_df.columns = pd.Series(insurance_df.columns).apply(lambda col: col.replace(" ", "_"))
insurance_df.rename(columns= {'st': 'state'}, inplace=True)

In [6]:
insurance_df.shape

(4008, 11)

In [4]:
insurance_df.columns

Index(['customer', 'state', 'gender', 'education', 'customer_lifetime_value',
       'income', 'monthly_premium_auto', 'number_of_open_complaints',
       'policy_type', 'vehicle_class', 'total_claim_amount'],
      dtype='object')

In [8]:
insurance_df["state"].unique()

array(['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali',
       'AZ', 'WA', nan], dtype=object)

## Exercise 2: Cleaning invalid Values

The dataset contains columns with inconsistent and incorrect values that could affect the accuracy of our analysis. Therefore, we need to clean these columns to ensure that they only contain valid data.

Note that this exercise will focus only on cleaning inconsistent values and will not involve handling null values (NaN or None).

*Hint*:
- *Gender column contains various inconsistent values such as "F", "M", "Femal", "Male", "female", which need to be standardized, for example, to "M" and "F".*
- *State abbreviations be can replaced with its full name, for example "AZ": "Arizona", "Cali": "California", "WA": "Washington"*
- *In education, "Bachelors" could be replaced by "Bachelor"*
- *In Customer Lifetime Value, delete the `%` character*
- *In vehicle class, "Sports Car", "Luxury SUV" and "Luxury Car" could be replaced by "Luxury"*

In [9]:
# Your code here
gender_mapping = {'Male': "M", 'female': "F", "Femal": "F",}
state_mapping = {"AZ" : "Arizona", "WA":"Washington", "Cali":"California"}
education_mapping = {"Bachelors" : "Bachelor"}
vehicle_mapping = {"Sports Car": "Luxury", "Luxury SUV": "Luxury", "Luxury Car": "Luxury"}
insurance_df['gender'] = insurance_df['gender'].map(gender_mapping)
insurance_df["state"] = insurance_df["state"].map(state_mapping)
insurance_df["education"] = insurance_df["education"].map(education_mapping)
insurance_df["customer_lifetime_value"] = insurance_df["customer_lifetime_value"].str.replace("%","").astype(float)
insurance_df["vehicle_class"] = insurance_df["vehicle_class"].map(vehicle_mapping)

In [10]:
insurance_df["customer_lifetime_value"]

0              NaN
1        697953.59
2       1288743.17
3        764586.18
4        536307.65
           ...
4003           NaN
4004           NaN
4005           NaN
4006           NaN
4007           NaN
Name: customer_lifetime_value, Length: 4008, dtype: float64

## Exercise 3: Formatting data types

The data types of many columns in the dataset appear to be incorrect. This could impact the accuracy of our analysis. To ensure accurate analysis, we need to correct the data types of these columns. Please update the data types of the columns as appropriate.

It is important to note that this exercise does not involve handling null values (NaN or None).

*Hint*:
- *Customer lifetime value should be numeric*
- *Number of open complaints has an incorrect format. Look at the different values it takes with `unique()` and take the middle value. As an example, 1/5/00 should be 5. Number of open complaints is a string - remember you can use `split()` to deal with it and take the number you need. Finally, since it should be numeric, cast the column to be in its proper type.*

In [11]:
# Your code here

#insurance_df["customer_lifetime_value"] = insurance_df["customer_lifetime_value"].applymap(float)
insurance_df["customer_lifetime_value"] = pd.to_numeric(insurance_df["customer_lifetime_value"])
insurance_df['number_of_open_complaints'] = insurance_df['number_of_open_complaints'].apply(lambda x: x.split("/")[1] if isinstance(x, str) else None)
insurance_df["number_of_open_complaints"] = pd.to_numeric(insurance_df["number_of_open_complaints"])
#insurance_df["number_of_open_complaints"] = insurance_df["number_of_open_complaints"].applymap(float)

In [12]:
insurance_df['number_of_open_complaints'].unique()

array([ 0.,  2.,  1.,  3.,  5.,  4., nan])

## Exercise 4: Dealing with Null values

Identify any columns with null or missing values. Identify how many null values each column has. You can use the `isnull()` function in pandas to find columns with null values.

Decide on a strategy for handling the null values. There are several options, including:

- Drop the rows or columns with null values
- Fill the null values with a specific value (such as the column mean or median for numerical variables, and mode for categorical variables)
- Fill the null values with the previous or next value in the column
- Fill the null values based on a more complex algorithm or model (note: we haven't covered this yet)

Implement your chosen strategy to handle the null values. You can use the `fillna()` function in pandas to fill null values or `dropna()` function to drop null values.

Verify that your strategy has successfully handled the null values. You can use the `isnull()` function again to check if there are still null values in the dataset.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling null values.

After formatting data types, as a last step, convert all the numeric variables to integers.

In [13]:
insurance_df.isna().sum()

customer                     2937
state                        3833
gender                       3924
education                    4001
customer_lifetime_value      2940
income                       2937
monthly_premium_auto         2937
number_of_open_complaints    2937
policy_type                  2937
vehicle_class                3917
total_claim_amount           2937
dtype: int64

In [14]:
#Hay muchas filas con todos los valores na, así que primero hay que deshacerse de esas
insurance_df = insurance_df.dropna(how="all") #todos nulos

In [15]:
insurance_df.isna().sum()

customer                        0
state                         896
gender                        987
education                    1064
customer_lifetime_value         3
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                 980
total_claim_amount              0
dtype: int64

In [16]:
insurance_df.shape

(1071, 11)

In [13]:
#A muchas filas les faltan exactamente los mismos valores importantes, así que hay que eliminarlas
insurance_df.dropna(thresh=7, inplace = True)

In [14]:
insurance_df.isna().sum()

customer                        0
state                         893
gender                        984
education                    1061
customer_lifetime_value         0
income                          0
monthly_premium_auto            0
number_of_open_complaints       0
policy_type                     0
vehicle_class                 977
total_claim_amount              0
dtype: int64

In [15]:
#insurance_df["customer_lifetime_value"] = insurance_df["customer_lifetime_value"].fillna(sum(insurance_df["customer_lifetime_value"])/len(insurance_df["customer_lifetime_value"]))

In [17]:
#Sigue habiendo columnas que tienen más de un 83% de datos faltantes, así que tiene que ser eliminadas
insurance_df.drop(columns=["education", "state", "gender", "vehicle_class"], inplace=True)

In [18]:
insurance_df.isna().sum()

customer                     0
customer_lifetime_value      0
income                       0
monthly_premium_auto         0
number_of_open_complaints    0
policy_type                  0
total_claim_amount           0
dtype: int64

In [19]:

#sum(axis=1)
#insurance_df.dropna(axis=1) #columnas
#insurance_df.dropna(subset=[""]) #solo filas con na en columnas especificas
#insurance_df.dropna(how="all") #todos nulos
#insurance_df.dropna(thresh=3) #al menos N valores nulos
#insurance_df.fillna(N) #reemplazar por N
#insurance_df[""] = insurance_df[""].fillna("N")

## Exercise 5: Dealing with duplicates

Use the `.duplicated()` method to identify any duplicate rows in the dataframe.

Decide on a strategy for handling the duplicates. Options include:
- Dropping all duplicate rows
- Keeping only the first occurrence of each duplicated row
- Keeping only the last occurrence of each duplicated row
- Dropping duplicates based on a subset of columns
- Dropping duplicates based on a specific column

Implement your chosen strategy using the `drop_duplicates()` function.

Verify that your strategy has successfully handled the duplicates by checking for duplicates again using `.duplicated()`.

Remember to document your process and explain your reasoning for choosing a particular strategy for handling duplicates.

Save the cleaned dataset to a new CSV file.

*Hint*: *after dropping duplicates, reset the index to ensure consistency*.

In [20]:
insurance_df

,customer,customer_lifetime_value,income,monthly_premium_auto,number_of_open_complaints,policy_type,total_claim_amount
1,QZ44356,697953.59,0.0,94.0,0.0,Personal Auto,1131.464935
2,AI49188,1288743.17,48767.0,108.0,0.0,Personal Auto,566.472247
3,WW63253,764586.18,0.0,106.0,0.0,Corporate Auto,529.881344
4,GA49547,536307.65,36357.0,68.0,0.0,Personal Auto,17.269323
5,OC83172,825629.78,62902.0,69.0,0.0,Personal Auto,159.383042
...,...,...,...,...,...,...,...
1066,TM65736,305955.03,38644.0,78.0,1.0,Personal Auto,361.455219
1067,VJ51327,2031499.76,63209.0,102.0,2.0,Personal Auto,207.320041
1068,GS98873,323912.47,16061.0,88.0,0.0,Personal Auto,633.600000
1069,CW49887,462680.11,79487.0,114.0,0.0,Special Auto,547.200000
1070,MY31220,899704.02,54230.0,112.0,0.0,Personal Auto,537.600000

In [23]:
#No hay columnas duplicadas
insurance_df.duplicated().any()

False

In [22]:
# Your code here
#insurance_df.duplicated()
#insurance_df.duplicated(subset=[""])
#insurance_df.drop_duplicates(subset=)
#insurance_df.reset_index

SyntaxError: invalid syntax (361394848.py, line 4)

# Bonus: Challenge 2: creating functions on a separate `py` file

Put all the data cleaning and formatting steps into functions, and create a main function that performs all the cleaning and formatting.

Write these functions in separate .py file(s). By putting these steps into functions, we can make the code more modular and easier to maintain.

*Hint: autoreload module is a utility module in Python that allows you to automatically reload modules in the current session when changes are made to the source code. This can be useful in situations where you are actively developing code and want to see the effects of changes you make without having to constantly restart the Python interpreter or Jupyter Notebook kernel.*

In [ ]:
# Your code here

# Bonus: Challenge 3: Analyzing Clean and Formated Data

You have been tasked with analyzing the data to identify potential areas for improving customer retention and profitability. Your goal is to identify customers with a high policy claim amount and a low customer lifetime value.

In the Pandas Lab, we only looked at high policy claim amounts because we couldn't look into low customer lifetime values. If we had tried to work with that column, we wouldn't have been able to because customer lifetime value wasn't clean and in its proper format. So after cleaning and formatting the data, let's get some more interesting insights!

Instructions:

- Review the statistics again for total claim amount and customer lifetime value to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount and a low customer lifetime value. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount, and clients with a low customer lifetime value to be those in the bottom 25% of the customer lifetime value. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile and a customer lifetime value in the bottom 25th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount and low customer lifetime value data. To do so, select both columns of the dataframe simultaneously and pass it to the `.describe()` method. This will give you descriptive statistics, such as mean, median, standard deviation, minimum and maximum values for both columns at the same time, allowing you to compare and analyze their characteristics.

In [20]:

insurance_df_top_25 = insurance_df[insurance_df["total_claim_amount"] >= insurance_df["total_claim_amount"].quantile(0.75)]
insurance_df_lowe_75 = insurance_df[insurance_df["total_claim_amount"] < insurance_df["total_claim_amount"].quantile(0.75)]
insurance_df_top_25[["total_claim_amount", "customer_lifetime_value"]].describe(),insurance_df_lowe_75[["total_claim_amount", "customer_lifetime_value"]].describe()

(       total_claim_amount  customer_lifetime_value
 count          273.000000             2.730000e+02
 mean           774.005353             9.183794e+05
 std            291.304731             6.582582e+05
 min            532.800000             2.287597e+05
 25%            595.200000             4.747735e+05
 50%            673.342650             7.859415e+05
 75%            844.481918             1.065688e+06
 max           2893.239678             4.022401e+06,
        total_claim_amount  customer_lifetime_value
 count          798.000000             7.950000e+02
 mean           278.743758             7.508725e+05
 std            153.994756             6.330986e+05
 min              0.382107             2.004351e+05
 25%            137.195719             3.570365e+05
 50%            309.279805             5.514344e+05
 75%            398.477211             8.473146e+05
 max            529.881344             5.816655e+06)